.card__form {
	flex: 1 1 auto;
}

.card__input {
	width: 100%;

	font-family: var(--font-family);
	font-size: 1.2em;

	outline: none;
	border: none;
	background-color: transparent;
}
.card__input::placeholder {
	color: var(--fg-secondary);
	transition: color 0.3s ease-in-out;
}

.theme--dark .card__input {
	color: var(--fg-dark);
}
.theme--dark .card__input::placeholder {
	color: var(--fg-secondary-dark);
}

@media (min-width: 768px) {
	.card__input {
		font-size: 1.3em;
	}
}
