.task__item {
	/* min-height: 20%; */

	padding: 1em 1.3em;

	background-color: var(--bg-component);
	border-bottom: 1px solid var(--fg-disabled);
	border-radius: 8px;

	transition: border-bottom 0.3s ease-in-out;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.theme--dark .task__item {
	background-color: var(--bg-component-dark);
	border-bottom: 1px solid var(--fg-disabled-dark);
}

@media screen and (min-width: 768px) {
	.task__item {
		padding: 1.5em 1.3em;
	}
	.task__item:hover .button--hide {
		opacity: 1;
		visibility: visible;
	}
}
