.filter {
	flex: 1;

	display: flex;
	justify-content: space-between;
}

.filter .button--text {
	flex: 0 0 calc(33.3333% - 1em);
}
.filter .button--text:last-child {
	margin-left: 1em;

	text-align: right;
}

.filter.hide--filter {
	display: none;
}

@media (min-width: 768px) {
	.filter.hide--filter {
		display: flex;
	}
}
