.card {
	min-height: 3em;

	margin: 0.5em 0 1.2em;

	background-color: var(--bg-component);
	box-shadow: var(--shadow-large);
	border-radius: 8px;

	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.theme--dark .card {
	background-color: var(--bg-component-dark);
	box-shadow: var(--shadow-large-dark);
}

@media (min-width: 768px) {
	.hide {
		display: none;
	}

	.card:first-child {
		margin-bottom: 2em;
	}
}
