.card__item {
	min-height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.circle {
	width: 1.2em;
	height: 1.2em;

	border-radius: 50%;
	border: 1px solid var(--fg-disabled);

	/* background-color: var(--fg-disabled); */
}
