.card__item {
	min-height: 100%;

	padding: 0.8em 1.3em;

	/* border: 1px solid; */
	border-bottom: 1px solid var(--fg-disabled);

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__item:last-child {
	padding: 1em 1.3em;
	border-bottom: none;

	color: var(--fg-secondary);
}

.circle {
	width: 1.2em;
	height: 1.2em;

	border-radius: 50%;
	border: 1px solid var(--fg-disabled);

	/* background-color: var(--fg-disabled); */
}
.circle:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.card__item {
		padding: 1.5em 1.3em;
	}
	.card__item:hover .icon {
		opacity: 1;
		visibility: visible;
	}

	.card__item:last-child {
		padding: 1.5em 1.3em;
	}

	.circle {
		width: 1.5em;
		height: 1.5em;
	}
}
