.card {
	min-height: 3em;

	margin: 0.5em 1em 1.2em 1em;
	/* padding: 0 1.4em; */

	background-color: var(--bg-component);
	box-shadow: var(--shadow-large);
	border-radius: 6px;

	/* display: grid; */
}
