.card {
	min-height: 3em;

	margin: 0.5em 0 1.2em;
	/* padding: 0 1.4em; */

	background-color: var(--bg-component);
	box-shadow: var(--shadow-large);
	border-radius: 8px;

	/* display: grid; */
}

.theme--dark .card {
	background-color: var(--bg-component-dark);
	box-shadow: var(--shadow-large-dark);
}

@media (min-width: 768px) {
	.hide {
		display: none;
	}

	.card:first-child {
		margin-bottom: 2em;
	}
}
