.header {
	padding: 3em 0 1.5em 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__title {
	/* margin: 0.7em 0 0.5em 0; */

	font-size: 1.8em;
	letter-spacing: 0.3em;

	color: var(--bg-component);
}

.icon--header {
	opacity: 1;
	visibility: visible;

	color: var(--bg-component);
	transform: rotate(135deg);
}

.theme--dark .icon--header {
	color: white;
}

@media (min-width: 768px) {
	.header__title {
		font-size: 3em;
	}

	.icon--header {
		font-size: 2.5em;
	}
}
