.card__input {
	margin-left: 1em;
	width: 0;

	font-family: var(--font-family);
	font-size: 1em;

	outline: none;
	border: none;
	background-color: transparent;

	flex: 1 1 auto;
}
.card__input::placeholder {
	color: var(--fg-secondary);
}

.theme--dark .card__input {
	color: var(--fg-dark);
}
.theme--dark .card__input::placeholder {
	color: var(--fg-secondary-dark);
}

@media (min-width: 768px) {
	.card__input {
		font-size: 1.3em;
	}
}
