.card__text {
	width: 0;

	margin: 0;
	margin-left: 1em;

	color: var(--fg);

	flex: 1 1 auto;
}
.card__text:last-child {
	margin-left: 0;
	margin-right: 1em;
	text-align: right;
}

.theme--dark .card__text {
	color: var(--fg-dark);
}

.card__text.active {
	color: var(--fg-secondary);
	text-decoration: line-through;
}

.options {
	width: 100%;

	display: flex;
}

.task__options {
	flex: 1;
	display: flex;

	justify-content: space-between;
}

.task__option {
	flex: 0 0 calc(50% - 1em);
	color: var(--fg-secondary);
}

.theme--dark .task__option {
	color: var(--fg-secondary-dark);
}

.option--select {
	transition: color 0.2s ease-in-out;
}
.option--select:hover {
	cursor: pointer;

	color: var(--fg);
}

.theme--dark .option--select:hover {
	color: var(--fg-dark);
}

@media (min-width: 768px) {
	.card__text {
		font-size: 1.2em;
	}
	.task__options .card__text {
		font-size: 1em;
	}

	.task__option {
		flex: 0 0 calc(33.3333% - 1em);
	}
}
