.bg__image {
	z-index: -1;
	position: absolute;

	width: 100%;
	height: 25%;

	background-image: url("/assets/images/bg-mobile-light.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.theme--dark .bg__image {
	background-image: url("/assets/images/bg-mobile-dark.jpg");
}

@media (min-width: 768px) {
	.bg__image {
		height: 35%;
		background-image: url("/assets/images/bg-desktop-light.jpg");
	}

	.theme--dark .bg__image {
		background-image: url("/assets/images/bg-desktop-dark.jpg");
	}
}

.footer {
	position: fixed;

	width: 100%;

	margin: 2em 0;

	text-align: center;
	color: var(--fg-secondary);
}

.theme--dark .footer {
	color: var(--fg-secondary-dark);
}
