:root {
	--bg-component: hsl(0, 0%, 98%);
	--bg: hsl(236, 33%, 92%);
	--fg-disabled: hsl(233, 11%, 84%);
	--fg-secondary: hsl(236, 9%, 61%);
	--fg: hsl(235, 19%, 35%);

	--shadow-color: 233, 11%, 84%;

	--shadow-medium: 1px 2px 2px hsl(var(--shadow-color), 0.333),
		2px 4px 4px hsl(var(--shadow-color), 0.333),
		3px 6px 6px hsl(var(--shadow-color), 0.333);

	--shadow-large: 1px 2px 2px hsl(var(--shadow-color), 0.2),
		2px 4px 4px hsl(var(--shadow-color), 0.2), 4px 8px 8px hsl(var(--shadow-color), 0.2),
		8px 16px 16px hsl(var(--shadow-color), 0.2),
		16px 32px 32px hsl(var(--shadow-color), 0.2);

	--font-family: "Josefin Sans", sans-serif;
}

body {
	margin: 0;

	background-color: var(--bg);
	font-family: var(--font-family);
}

h1 {
	margin: 0;
}

.icon {
	/* width: 1.6em; */
	/* height: 1.6em; */
	font-size: 26px;
	color: var(--fg-secondary);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
