:root {
	--accent: hsl(220, 98%, 61%);
	--bg-gradient: linear-gradient(
		to bottom right,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);

	--bg-component: hsl(0, 0%, 98%);
	--bg: hsl(236, 33%, 92%);
	--fg-disabled: hsl(233, 11%, 84%);
	--fg-secondary: hsl(236, 9%, 61%);
	--fg: hsl(235, 19%, 35%);

	--bg-component-dark: hsl(235, 24%, 19%);
	--bg-dark: hsl(234, 21%, 11%);
	--fg-disabled-dark: hsl(233, 14%, 35%);
	--fg-secondary-dark: hsl(234, 11%, 52%);
	--fg-dark: hsl(234, 39%, 85%);

	--shadow-color: 233, 11%, 84%;
	--shadow-dark: 235, 21%, 11%;

	--shadow-medium: 1px 2px 2px hsl(var(--shadow-color), 0.333),
		2px 4px 4px hsl(var(--shadow-color), 0.333),
		3px 6px 6px hsl(var(--shadow-color), 0.333);

	--shadow-large: 1px 2px 2px hsl(var(--shadow-color), 0.2),
		2px 4px 4px hsl(var(--shadow-color), 0.2), 4px 8px 8px hsl(var(--shadow-color), 0.2),
		8px 16px 16px hsl(var(--shadow-color), 0.2),
		16px 32px 32px hsl(var(--shadow-color), 0.2);

	--shadow-medium-dark: 1px 2px 2px hsl(var(--shadow-dark), 0.333),
		2px 4px 4px hsl(var(--shadow-dark), 0.333), 3px 6px 6px hsl(var(--shadow-dark), 0.333);

	--shadow-large-dark: 1px 2px 2px hsl(var(--shadow-dark), 0.2),
		2px 4px 4px hsl(var(--shadow-dark), 0.2), 4px 8px 8px hsl(var(--shadow-dark), 0.2),
		8px 16px 16px hsl(var(--shadow-dark), 0.2),
		16px 32px 32px hsl(var(--shadow-dark), 0.2);

	--font-family: "Josefin Sans", sans-serif;
}

body {
	margin: 0;

	background-color: var(--bg);
	font-family: var(--font-family);
}

body.theme--dark {
	background-color: var(--bg-dark);
}

h1 {
	margin: 0;
}

.icon {
	/* width: 1.6em; */
	/* height: 1.6em; */
	font-size: 26px;
	color: var(--fg-secondary);

	display: block;
}

.icon--hidden {
	display: none;
}

.theme--dark .icon {
	color: var(--fg-secondary-dark);
}

@media (min-width: 768px) {
	.icon {
		/* display: none; */
		opacity: 0;
		visibility: hidden;

		cursor: pointer;

		transition: opacity 0.3s ease-in-out;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
